{{ define "footer.tmpl" }}
		</article>
		<footer>
			<hr>
			<div>
				<p>Made with ❤️ and Club-Mate by <a href="https://twitter.com/rtfmkiesel" target="_blank">@rtfmkiesel</a><br><a href="https://github.com/rtfmkiesel/bagel" target="_blank">View on GitHub</a></p>
			</div>
		</footer>
	</body>
</html>
{{ end }}