{{ define "header.tmpl" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ if eq .Title nil }}Bagel - a simple web UI for Semgrep{{ else }}{{ .Title }} | Bagel {{ end }}</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>🥯</text></svg>">
		<link rel="stylesheet" href="/static/main.css">
	</head>
	<body>
		<header>
			<div>
				<h2 id="site-title"><a href="/">🥯 Bagel</a></h2>
				<div id="site-subtitle">a simple web UI for Semgrep</div>
			</div>
			<hr>
		</header>
		<article>
{{ end }}